# In a .gitignore file, the * character is a wildcard that matches zero or more characters within a file or directory name.

# Ignore target directories in rust project
rust/*/target/

# Ignore IDE-specific files (optional)
.idea/
.vscode/

# Ignore build artifacts
**/*.rs.bk

# Ignore dependency and build metadata
# If most of your projects are binary applications, you can remove rust/*/Cargo.lock from your .gitignore. If you’re working on libraries, it’s fine to leave it there.
# rust/*/Cargo.lock
gherkin/*/node_modules
gherkin/*/.env