<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <!-- Fontawesome -->
    <link rel="stylesheet" href="/css/all.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/project.css">
    <!-- <! -- GOOGLE FONT--> 
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Young+Serif&display=swap" rel="stylesheet">
    <style>
        /* For Google Font */
        html,body{
            font-family: 'Young Serif', serif;
            color: white;
        }
        body{margin: 0;}
        
    </style>
    <title><%= title %></title>
</head>
<body>