<div class="navbar <% if ( page_name == 'Mitanshu Kelaiya - Home') { %> opac <% } %>"">
    <div class="links">
    <a href="/" class="navlink <% if ( page_name == 'Mitanshu Kelaiya - Home') { %> active<% } %>">Home</a>
    <a href="/skill" class="navlink <% if ( page_name == 'Mitanshu Kelaiya - Skill') { %> active <% } %>">Projects</a>
</div>
</div>

