<%- include('./Includes/header.ejs') %>
<%- include('./Includes/sidebar.ejs' , {page_name : 'Mitanshu Kelaiya'}) %>
<div class="home">
   <div class="homeContent">
    <img src="https://png.pngtree.com/background/20210717/original/pngtree-abstract-simple-background-portfolio-picture-image_1447415.jpg" class="bgImage">
    <div class="personal">
    <img src="images/sunrise2.jpg" class="personalImg">
    <span class="personalName">MITANSHU KELAIYA</span>
    <span class="personaltitle">CSE Student</span>
    <button class="cvbutton">Download CV</button>
    <div class="personalIcons">
        <div class="emailiconcontainer">
            <i class="fa-brands fa-google-plus-g fa-2xl" class="emailicon"></i>
</div>
<div class="linkediniconcontainer">
    <i class="fa-brands fa-linkedin fa-2xl" class="linkedinicon"></i>
    </div>
        </div>
    </div>
    
    <div class="personalInfo">
        <div class="personalInfoleft">
            <p> Hello, Welcome to this page!
                I am Mitanshu Kelaiya, a student from CHARUSAT currently pursuing 3rd Year in B.Tech in Computer Science and Enginnering.
                <p>I am passionate to learn new concepts and seeking opportunity to expand my knowledge and skills.</p></p>
    </div>
    <div class="personalInforight">
        <div class="aboutInfo"><label class="info"><i class="fa-solid fa-user-tie"></i> </label><span class="personalDetails"> 20 Years</span></div>
    <div class="aboutInfo"><label class="icon"><i class="fa-solid fa-location-dot"></i></label><span class="personalDetails"> Gujarat</span></div>
    <div class="aboutInfo"><label class="icon"><i class="fa-solid fa-language"></i></label><span class="personalDetails"> Gujarati, Hindi, English</span></div>
    <div class="aboutInfo"><label class="icon"><i class="fa-solid fa-envelope"></i> </label><span class="personalDetails"> km@gmail.com </span></div>
    <div class="aboutInfo"><label class="icon"><i class="fa-solid fa-building-columns"></i></label><span class="personalDetails"> Devang Patel  of Advance Technology and Research</span></div>
    <!-- <div class="aboutInfo"><label class="info"><i class="fa-solid fa-chart-line"></i></label><span class="details"> Backend Development</span></div> -->
        </div>
    </div>

    <div class="skillInfo">
        <span class="skillTitle">
            Skills
        </span>
        <div class="skills">
            <div class="skillName">
                C, C++
                <div class="progress-bar">
                    <div class="progress" ></div>
                </div>
            </div>
            <div class="skillName">
                Express
                <div class="progress-bar">
                    <div class="progress" ></div>
                </div>
            </div>
            <div class="skillName">
                React
                <div class="progress-bar">
                    <div class="progress" ></div>
                </div>
            </div>
            <div class="skillName">
                SQL
                <div class="progress-bar">
                    <div class="progress" ></div>
                </div>
            </div>
            
        </div>
    </div>
    
</div>
</div>
    <%- include('./Includes/footer.ejs') %>