<%- include('./Includes/header.ejs') %>
<%- include('./Includes/sidebar.ejs' , {page_name : 'Mitanshu Kelaiya - Skill'}) %>
<div class="projectMain">
<div class="projects">
    <span class="projectTitleMain">Projects</span>
    <div class="projectContainer">
        <div class="projectInfo">
        <div class="projectImgContainer">
            <img src="/images/f40e9e05-faf6-44a8-ad69-91d553678b97-8.png" class="projectLogo">
        </div>
        <span class="projectTitle">Budge Bytes</span>
        <span class="projectDesc">
            A React based simple web application built mainly to manage expenses for Students and Housewives. User can see visual representation of their expenses with help of bar graph month wise.
        </span>
    </div>

    <div class="projectInfo">
        <div class="projectImgContainer">
            <img src="/images/sunrise2.jpg" class="projectLogo">
        </div>
        <span class="projectTitle">Trade X</span>
        <span class="projectDesc">
            React based simple CRUD web application that provides platform to buy and sell stocks with paper money. Mainly focused for beginners to try their chance to buy and sell stock with paper money.
    </span>
        </span>
    </div>

    <div class="projectInfo">
        <div class="projectImgContainer">
            <img src="/images/admin.png" class="projectLogo">
        </div>
        <span class="projectTitle">Admin Panel only Frontend</span>
        <span class="projectDesc">
            A React based simple web application built mainly to manage expenses for Students and Housewives. User can see visual representation of their expenses with help of bar graph month wise.
        </span>
    </div>

    <div class="projectInfo">
        <div class="projectImgContainer">
            <img src="/images/netflixclone.jpeg" class="projectLogo">
        </div>
        <span class="projectTitle">Netflix Clone</span>
        <span class="projectDesc">
            A React based simple web application built mainly to manage expenses for Students and Housewives. User can see visual representation of their expenses with help of bar graph month wise.
        </span>
    </div>
    </div>
</div> 
</div>
<%- include('./Includes/footer.ejs') %>